.inputz{
width: 9rem;
height: 3rem;

    color: #000000;
    font-size: 1.3rem;
    font-weight: 800;
    width: 166px;
height: 42px;
left: 254.48px;
top: 233px;

background: #F6B93B;
border: 1px solid #000000;
box-shadow: 4px 4px 0px #000000;
border-radius: 4px;
font-family: inter;
  }