@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.band-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bandList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
 
}

.bandList li {
  flex-basis: 33.33%; /* Three bands per row */
  text-align: center;
  margin-bottom: 20px;
 
}

.bandList li strong {
  display: block;
  margin-bottom: 10px;
}

.bandList li img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

Link{list-style: none;}


@media (max-width: 768px) {
  /* Two bands per row on smaller screens */
  .bandList li {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  /* One band per row on even smaller screens */
  .bandList li {
    flex-basis: 100%;
  }
}

.bandList li strong {
  display: block;
  margin-bottom: 10px;
}

.bandList li img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}