.band-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.band-content2 {
  text-align: center;
}

.band-info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.band-info p {
  text-align: left;
}

.band-info img {
  margin-right: 20px;
  flex-shrink: 0;
}
